.drill-down-list ol{
  display: none;
}
.drill-down-list .expanded-state > ol{
  display: block;
}

.expandable {
  display: none;
}
.expanded-state .expandable {
  display: block;
}

.expand-drilldown-list {
  color: #ccc;
  cursor: pointer;
}

.expanded-state > .expand-drilldown-list,
.expanded-state > p > .expand-drilldown-list,
.expanded-state > li > * > .expand-drilldown-list,
.expanded-state > div > * > .expand-drilldown-list  {
  color: #000;
}

.drill-down-list ol{
  padding-left: 20px;
}
.drill-down-list > li {
  padding: 10px;
  border: 1px solid #ccc;
  border-bottom-width: 0;
}
.drill-down-list li:last-child {
  border-bottom-width: 1px;
}

.tabs {
  position: relative;
  z-index: 1;
  overflow: visible;
  min-height: 100px;
  height: auto;
  transition: height 0.5s;
}

.tab-content {
  width: 100%;
  position: absolute;
  z-index: 2;
  left: -5500px;
  min-height: 100px;
  opacity: 0;
  transition:left 0.5s, opacity 0.5s, height 0.5s;
}

.tab-active {
  left: 10px;
  opacity: 1;
}

.tab-outgoing {
  left: 5500px;
}


div.gardr {
    border: 1px solid #ccc;
}
.animated-banner, iframe {
  width: 100%;
  display: block;
}
.gardr {
  margin-bottom: 10px;
}

.table pre {
    min-width: 175px;
}

.screenshots-wrapper {
    background: #ccc;
    width: 100%;
    position: relative;
    z-index: 1;
}
.screenshots {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 100%;
}
.screenshots-controller {
    position: absolute;
    z-index: 2;
    right: 20px;
    bottom: 20px;
}
.screenshot {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    display: none;
    z-index: 1;
    max-width: 100%;
}
.active {
    display: block;
}
.screenshot img {
    width: 100%;
}
.screenshot .screenshot-title {
    position: absolute;
    right: 20px;
    font-size: 15px;
    font-weight: bold;
    top: 20px;
    text-align: right;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #333;
}

.relative {
    position: relative;
    z-index: 1;
}

.summary-container {
    position: absolute;
    z-index: 2;
    left: 20px;
    top: 20px;
    font-size: 11px;
    font-weight: bold;
    width: 80px;
    height: 80px;
    text-align: center;
    background: white;
    border-radius: 30px;
}

.summary-container .glyphicon {
    margin-top: 5px;
    font-size: 40px;
    line-height: 40px;
}
.glyphicon-heart:hover {
    color: green;
}
.glyphicon-heart {
    -webkit-animation: beat 0.7s ease 0s infinite normal;
    -moz-animation: beat 0.7s ease 0s infinite normal;
    animation: beat 0.7s ease 0s infinite normal;
}

.glyphicon-repeat  {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 40px;
    line-height: 40px;
    -webkit-animation: spin 3s linear 0s infinite normal;
    -moz-animation: spin 3s linear 0s infinite normal;
    animation: spin 3s linear 0s infinite normal;
}

.advanced-container {
    /*display: none;*/
}
.advanced-mode {
    display: block;
}

.logo {
  background: transparent;
  width: 60px;
  height: 60px;
  margin: 0 5px 5px 0;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.logo:before {
  content: '';
  position: absolute;
  margin: auto;
  left: 0; right: 0; top: 0; bottom: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-top: solid 46px rgba(218, 34, 34, 0.65);
  border-left: solid 8px #78929e;
  border-right: solid 8px #78929e;
  background: #eee;
  box-shadow: 0 0 0 5px #eee;
}
a:hover>.logo:before, .logo:hover:before {
    border-left-color: #455860;
    border-right-color: #455860;
    border-top-color: red;
}

.spinner:before {
  -webkit-animation: spin 3s linear infinite;
  -moz-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

@-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    50% {
      -webkit-transform: rotate(180deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    0% {
      -moz-transform: rotate(0deg);
    }
    50% {
      -moz-transform: rotate(180deg);
    }
    100% {
      -moz-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
}


@-webkit-keyframes beat {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.05   );
    }
    100% {
        -webkit-transform: scale(1);
    }
}
@-moz-keyframes beat {
    0% {
        -moz-transform: scale(1);
    }
    50% {
        -moz-transform: scale(1.05  );
    }
    100% {
        -moz-transform: scale(1);
    }
}

@keyframes beat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05   );
    }
    100% {
        transform: scale(1);
    }
}
