<div class="form-group">
    <label>Target:</label>
    <div class="radio">
      <label>
        <input type="radio" name="target" id="target1" value="mobile" {{#isMobileTarget}}checked{{/isMobileTarget}}>
        Mobile <small>(&lt; 50Kb, 780x225, {{mobileUseragent}})</small>
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="target" id="target2" value="tablet" {{#isTabletTarget}}checked{{/isTabletTarget}}>
        Tablet <small>(&lt; 100Kb, 980x225, {{tabletUseragent}})</small>
      </label>
    </div>
</div>

<div class="form-group">
    <label>Custom viewport:</label>
    <div class="row">
        <div class="col-xs-5">
            <input type="number" name="options[viewport][width]" class="form-control pull-left" value="{{options.viewport.width}}" placeholder="" />
        </div>
        <div class="col-xs-2 text-center">
            <strong>x</strong>
        </div>
        <div class="col-xs-5">
            <input type="number" name="options[viewport][height]" class="form-control" value="{{options.viewport.height}}" placeholder="" />
        </div>
    </div>
</div>


<!--

    custom
    - useragent?
    - runtime?


-->
