<div class="form-group">
    <label>HTML / Markup</label>
    <textarea id="html" name="html" class="form-control" rows="10" placeholder="html...">{{^trimmed}}{{{input.html}}}{{/trimmed}}{{#trimmed}}{{full}}{{/trimmed}}</textarea>
    <div id="html-editor" style="width:100%;height:350px;border-radius: 3px;"></div>
</div>

<div class="form-group">
    <label>CSS</label>
    <textarea id="css" name="css" class="form-control" rows="5" placeholder="css...">{{{input.css}}}</textarea>
    <div id="css-editor" style="width:100%;height:250px;border-radius: 3px;"></div>
</div>

<div class="form-group">
    <label>JavaScript:</label>
    <textarea id="js" rows="5" name="js" class="form-control" placeholder="script...">{{{input.js}}}</textarea>
    <div id="javascript-editor" style="width:100%;height:250px;border-radius: 3px;"></div>
</div>

