{{#harvest}}
    <h2>Client logs</h2>
    <table class="table table-condensed table-striped table-bordered table-hover">
        <tr>
            <th>Time</th>
            <th>Message</th>
        </tr>
        {{#log.logs}}
            <tr>
                <td>{{formattedTime}}</td>
                <td>{{message}}</td>
            </tr>
        {{/log.logs}}
    </table>
{{/harvest}}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Type</th>
            <th>Message</th>
            <th>Rule</th>
            <th>Source / Code</th>
        </tr>
    </thead>
    <tbody>

        {{#report.full}}
            <tr class="{{typeClass}}">
                <td>{{type}}</td>
                <td>{{message}}{{name}}{{#desc}} - <small>{{.}}</small>{{/desc}}</td>
                <td>{{validatorName}}</td>
                <td>
                    {{#data.trace}}
                        <a href="{{sourceURL}}" target="_blank"><small>{{file}}{{#line}}:{{.}}{{/line}}</small></a><br />
                    {{/data.trace}}
                    {{#trace}}
                        <a href="{{sourceURL}}" target="_blank"><small>{{file}}{{#line}}:{{.}}{{/line}}</small></a><br />
                    {{/trace}}
                     {{#data.code}}
                    <pre><small><code>{{.}}</code></small></pre>
                    {{/data.code}}
                    {{#data.list}}
                    <pre><small><code>{{.}}</code></small></pre>
                    {{/data.list}}
                </td>
            </tr>
        {{/report.full}}

    </tbody>
</table>
