<div class="alert alert-danger">

    <h2>Runtime error: </h2>

    {{message}}
    {{^message}}
        {{err.message}}
    {{/message}}

    <br />

    {{#err.code}}
        <br />
        <pre><code>{{.}}</code></pre>
    {{/err.code}}

    {{#err.path}}
        <br />
        <pre><code>{{.}}</code></pre>
    {{/err.path}}

    {{#err.stack}}
        <br />
        <pre><code>{{.}}</code></pre>
    {{/err.stack}}

    {{#errors}}
        <br />
        <p>-&gt; {{message}}</p>
    {{/errors}}
</div>
