<div class="header-spacer"></div>
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a href="{{base}}" title="Gardr Validator">
                    <img src="/client/logo.png" alt="Gardr logo" />&nbsp;<small>validator</small>
                </a>
            </div>
            <div class="col-md-6 text-right">
                Automatic test of HTML5-banners. Specifications can be found at
                <a href="https://github.com/inma-no/advertsspec" target="_blank">GitHub</a>
            </div>
        </div>‘’
    </div>
</div>
