<!DOCTYPE html>
<html>
    <head>
      <title>{{pack.name}} {{pack.version}}</title>
      <link href="/components/bootstrap-theme-cirrus/dist/css/bootstrap.min.css" rel="stylesheet" />
      <style>
        div.pasties {
            border: 1px solid #ccc;
        }
        .animated-banner, iframe {
          width: 100%;
        }

      </style>
    </head>
    <body>
        <div class="container">
            <h1>{{pack.name}} {{pack.version}}</h1>
            <div class="form-group">
              <label>URL</label>
              <input id="urlInput" type="text" name="url" class="form-control" value="{{url}}" placeholder="http://" />
            </div>

            <button class="btn btn-default" id="render">Render</button>
            <button class="btn btn-primary" id="start-validation">Validate</button>
            <br />
            {{#error}}
                <br />
                <div class="alert alert-danger">
                    {{err.message}}
                </div>
            {{/error}}

            {{#showStatus}}
                <br />
                <div class="alert alert-warning">
                    Expected run time is 12-15 seconds. Running for {{runtime}}. Reloading in <strong><span id="timer">{{reloadIn}}</span></strong> ms.
                </div>
                <script>
                    (function(){
                        var ms = {{reloadIn}};
                        var timer = 0;
                        var elem = document.getElementById('timer');
                        if (ms > 0){
                            setTimeout(function(){
                                window.location = window.location.toString();
                            }, ms);
                            setInterval(function(){
                                timer += 1000;
                                elem.innerHTML = (ms - timer);
                            }, 1000);
                        }
                    })()
                </script>
            {{/showStatus}}

            {{#showResultTable}}
                <div>
                    <br />
                    <img class="animated-banner" src="data:image/gif;base64,{{harvest.animatedGif}}" />
                </div>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Melding</th>
                            <th>Rule</th>
                            <th>Source</th>
                        </tr>
                    </thead>
                    <tbody>

                        {{#report.warn}}
                            <tr class="warning">
                                <td>Warning</td>
                                <td>{{message}}</td>
                                <td>{{validatorName}}</td>
                                <td>
                                    {{#data.trace}}
                                        <a href="{{sourceURL}}" target="_blank"><small>{{file}}:{{line}}</small></a><br />
                                    {{/data.trace}}
                                    {{#trace}}
                                        <a href="{{sourceURL}}" target="_blank"><small>{{file}}:{{line}}</small></a><br />
                                    {{/trace}}
                                </td>
                            </tr>
                        {{/report.warn}}

                        {{#report.error}}
                            <tr class="danger">
                                <td>Error</td>
                                <td>{{message}}</td>
                                <td>{{validatorName}}</td>
                                <td>
                                    {{#data.trace}}
                                        <a href="{{sourceURL}}" target="_blank"><small>{{file}}:{{line}}</small></a><br />
                                    {{/data.trace}}
                                    {{#trace}}
                                        <a href="{{sourceURL}}" target="_blank"><small>{{file}}:{{line}}</small></a><br />
                                    {{/trace}}
                                </td>
                            </tr>
                        {{/report.error}}

                        {{#report.info}}
                            <tr class="">
                                <td>Info</td>
                                <td>{{message}}</td>
                                <td>{{validatorName}}</td>
                                <td>
                                    {{#data.trace}}
                                        <a href="{{sourceURL}}" target="_blank"><small>{{file}}:{{line}}</small></a><br />
                                    {{/data.trace}}
                                    {{#trace}}
                                        <a href="{{sourceURL}}" target="_blank"><small>{{file}}:{{line}}</small></a><br />
                                    {{/trace}}
                                </td>
                            </tr>
                        {{/report.info}}
                    </tbody>
                </table>
            {{/showResultTable}}
            <br />
            <div id="container">

            </div>
        </div>
        <script src="/preview/js/pasties/mobile.js"></script>
        <script src="/main.js"></script>

        {{#debugInfo}}
        <h1>Validator View:</h1>
        <pre style="font-size:11px;"><code>{{.}}</code></pre>
        {{/debugInfo}}
    </body>
</html>
