<!DOCTYPE html>
<html>
    <head>
      <title>{{pack.name}} {{pack.version}}</title>
      <link href="/components/bootstrap-theme-cirrus/dist/css/bootstrap.min.css" rel="stylesheet" />
      <style>
        div.pasties {
            border: 1px solid #ccc;
        }
        .animated-banner, iframe {
          width: 100%;
        }

      </style>
    </head>
    <body>
        <a href="{{pack.repository.url}}" title="Fork {{pack.name}}">
            <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub">
        </a>

        <div class="container">
            <h1 class="text-center">{{pack.name}} <small>{{pack.version}}</small></h1>


            {{#error}}
                <br />
                <div class="alert alert-danger">
                    {{err.message}}
                </div>
            {{/error}}

            {{#showStatus}}
                <br />
                <div class="progress progress-striped active">
                  <div id="progress" class="progress-bar"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                    <span class="sr-only"><span id="percent">0</span>% Complete</span>
                  </div>
                </div>
                <div class="alert alert-warning">
                    Expected run time is 12-15 seconds. Running for <span id="timerCounter">{{runtime}}</span> ms. Reloading in <strong><span id="timer">{{reloadIn}}</span></strong> ms.
                </div>
                <script>
                    (function(){
                        // dirty inline
                        var ms              = {{reloadIn}}||0;
                        var runtime         = {{runtime}}||0;
                        var timer           = 0;
                        var msElem          = document.getElementById('timer');
                        var timerCounter    = document.getElementById('timerCounter');
                        var percElem        = document.getElementById('percent');
                        var progressElem    = document.getElementById('progress');
                        var UPDATE_FREQ     = 501;

                        if (ms > 0){
                            setTimeout(function(){
                                window.location = window.location.toString();
                            }, ms);

                            setInterval(function(){
                                timer += UPDATE_FREQ;
                                var timeleft = ms - timer;
                                var percent = -(Math.round(timeleft / 15000 * 100) - 100);
                                timerCounter.innerHTML = runtime + timer;
                                percElem.innerHTML= percent;
                                msElem.innerHTML = timeleft;
                                progressElem.setAttribute('style', 'width: '+ percent + '%');
                            }, UPDATE_FREQ);
                        }
                    })()
                </script>
            {{/showStatus}}

            {{#harvest.animatedGif}}
                <div>
                    <br />
                    <img class="animated-banner" src="data:image/gif;base64,{{.}}" />
                </div>
            {{/harvest.animatedGif}}

            {{#showResultTable}}
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Melding</th>
                            <th>Rule</th>
                            <th>Source</th>
                        </tr>
                    </thead>
                    <tbody>

                        {{#report.warn}}
                            <tr class="warning">
                                <td>Warning</td>
                                <td>{{message}}</td>
                                <td>{{validatorName}}</td>
                                <td>
                                    {{#data.trace}}
                                        <a href="{{sourceURL}}" target="_blank"><small>{{file}}:{{line}}</small></a><br />
                                    {{/data.trace}}
                                    {{#trace}}
                                        <a href="{{sourceURL}}" target="_blank"><small>{{file}}:{{line}}</small></a><br />
                                    {{/trace}}
                                </td>
                            </tr>
                        {{/report.warn}}

                        {{#report.error}}
                            <tr class="danger">
                                <td>Error</td>
                                <td>{{message}}</td>
                                <td>{{validatorName}}</td>
                                <td>
                                    {{#data.trace}}
                                        <a href="{{sourceURL}}" target="_blank"><small>{{file}}:{{line}}</small></a><br />
                                    {{/data.trace}}
                                    {{#trace}}
                                        <a href="{{sourceURL}}" target="_blank"><small>{{file}}:{{line}}</small></a><br />
                                    {{/trace}}
                                </td>
                            </tr>
                        {{/report.error}}

                        {{#report.info}}
                            <tr class="">
                                <td>Info</td>
                                <td>{{message}}</td>
                                <td>{{validatorName}}</td>
                                <td>
                                    {{#data.trace}}
                                        <a href="{{sourceURL}}" target="_blank"><small>{{file}}:{{line}}</small></a><br />
                                    {{/data.trace}}
                                    {{#trace}}
                                        <a href="{{sourceURL}}" target="_blank"><small>{{file}}:{{line}}</small></a><br />
                                    {{/trace}}
                                </td>
                            </tr>
                        {{/report.info}}
                    </tbody>
                </table>
            {{/showResultTable}}

            {{#showForm}}

            <form method="POST" action="/validate" class="form">

                {{^hideUrlInput}}
                <div class="form-group">
                  <label>Input URL:</label>
                  <input id="urlInput" type="text" name="url" class="form-control" value="{{url}}" placeholder="http://" />
                </div>
                {{/hideUrlInput}}

                <div class="form-group">
                  <label>Javascript:</label>
                  <textarea rows="5" name="js" class="form-control" placeholder="script...">{{{js}}}</textarea>
                </div>

                <div>
                    <button class="btn btn-primary">Validate{{#hideUrlInput}} again{{/hideUrlInput}}</button>
                    {{^hideUrlInput}}<button class="btn btn-default" id="render">Render URL</button>{{/hideUrlInput}}
                    <a href="/" class="btn">Back to frontpage</a>
                </div>
            </div>
            <br />
            <br />
            <div id="container">

            </div>
            {{/showForm}}
        </div>
        <script src="/preview/js/pasties/mobile.js"></script>
        <script src="/main.js"></script>

        {{#debugInfo}}
        <div style="margin: 0 20px">
            <h1>Validator View:</h1>
            <pre style="font-size:11px;"><code>{{.}}</code></pre>
        </div>
        {{/debugInfo}}
    </body>
</html>
