<!DOCTYPE html>
<html>
    <head>
        <meta name="HandheldFriendly" content="True" />
        <meta name="MobileOptimized" content="320" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes" />
        <title>{{pack.name}} {{pack.version}}</title>
        <meta name="description" content="{{pack.description}}" />
        <!-- <link href="{{base}}components/bootstrap/dist/css/bootstrap{{minifyExtention}}.css" rel="stylesheet" /> -->
        <link href="{{base}}client/built/styles.css?ver={{pack.version}}" rel="stylesheet" />
    </head>
    <body>

        {{>header}}

        <div class="container main-container">

            {{#error}}
                {{>errors}}
            {{/error}}

            {{^error}}
                {{{content}}}
            {{/error}}

        </div>

        {{>footer}}

        {{#debugInfo}}
            <div style="margin: 20px">
                <div class="alert alert-success"><h4 class="" style="margin: 0;">Validator View-data:</h4></div>
                <pre style="font-size:11px;"><code>{{.}}</code></pre>
            </div>
        {{/debugInfo}}

        {{>bottom_js}}
    </body>
</html>
