{{#harvest.screenshots.hasScreenshots}}
    {{>screenshots}}
{{/harvest.screenshots.hasScreenshots}}


<br />
<div class="text-center" id="selectInput">
    <div class="btn-group">
        <button class="btn btn-default btn-primary btn-lg" data-tab="tab-result">
            Result
        </button>

<!--         <button class="btn btn-default btn-lg" data-tab="tab-checklist">
            Checklist
        </button> -->

        <button class="btn btn-default btn-lg" data-tab="tab-code">
            Code
        </button>
        <button class="btn btn-default btn-lg" data-tab="tab-preview">
            Preview
        </button>
    </div>
</div>
<br />

<div class="tabs" id="tabContent">
    <div class="tab-content tab-active" data-tab="tab-result">
        <div class="alert {{#report.success}}alert-info{{/report.success}} {{^report.success}}alert-danger{{/report.success}}">
            <p><strong>Report:</strong>
                {{#report.success}}
                    <span class="glyphicon glyphicon-heart text-primary"></span>
                    <span>Verified!</span>
                {{/report.success}}
                {{^report.success}}
                    <span class="glyphicon glyphicon-thumbs-down text-danger"></span>
                    <span>Not verified</span>
                {{/report.success}}
            </p>
            <p>Started <small>{{formattedStarted}}</small>. Ran for <small>{{totalRuntime}}</small>.</p>
        </div>
        <div class="row">
            <div class="col-md-8">
                {{>result_table}}
            </div>

            <div class="col-md-4">
                {{>result_stats}}
            </div>
        </div>
    </div>


    <div class="tab-content" data-tab="tab-checklist">
        <div class="row">
            <div class="col-md-9">
                {{>result_checklist}}
            </div>

            <div class="col-md-3">
                {{>result_stats}}
            </div>
        </div>
    </div>


    <div class="tab-content" data-tab="tab-code">
        <form action="/validate" method="POST" class="form" enctype="multipart/form-data">
            <input type="hidden" name="formatId"     value="{{format.id}}" />
            <input type="hidden" name="formatSubId"  value="{{format.subId}}" />
            <input type="hidden" name="formatIndex"  value="{{format.index}}" />
            {{>code}}

            {{>code_advanced_info}}

            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-lg" value="Run again" />
            </div>
        </form>
    </div>


    <div class="tab-content" data-tab="tab-preview">
        <br />
        <div id="result-preview-container">

        </div>
    </div>
</div>
