<h1>Select <small>site / configuration</small></h1>
<div class="list-group">
    {{#formats}}
    <a href="{{base}}formats/{{name}}/" class="list-group-item">
        {{#logo}}
            <img src="{{.}}" alt="{{name}}" style="max-height:40px;max-width:50%;" />
        {{/logo}}



        {{#sites}}
            <span style="margin:5px 0;" class="pull-right" >
                <img style="margin-left:10px;max-width:100%;max-height:20px;" src="{{logo}}" title="{{title}}{{name}}"></img>
            </span>
        {{/sites}}
        {{^sites}}
            <br />
            {{title}}{{^title}}{{name}}{{/title}}
        {{/sites}}


    </a>
    {{/formats}}
    <a href="{{newFormatUrl}}" taget="_blank" class="list-group-item text-center selected">
       Add another format? <small>(required github user)</small>
    </a>
</div>
