<h1>Select <small>site / configuration</small></h1>
<div class="list-group">
    {{#formats}}
    <a href="{{base}}formats/{{name}}/" class="list-group-item">
        {{#logo}}
            <img src="{{.}}" alt="{{name}}" height="50" />
        {{/logo}}

        {{title}}{{^title}}{{name}}{{/title}}
        {{#meta}}
            <span class="meta-{{.}}" title="{{.}}">{{.}}</span>
        {{/meta}}
    </a>
    {{/formats}}
    <a href="{{newFormatUrl}}" taget="_blank" class="list-group-item text-center selected">
       Add another format?
    </a>
</div>
