<!DOCTYPE html>
<html>
<head>
    <title>Garðr project</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link href='/client/splash.css' rel='stylesheet' type='text/css' />
</head>
<body>
    <div class="container">
        <img class="logo" src="/client/logo_big.png" alt="Garðr logo" />
        <!-- <h1>Garðr <small>project</small></h1> -->
        <p>"Display-ads inside containers."</p>
        <br />
        <a href="/docs" class="btn">
            I want to know more
        </a>
        <ul>
            <li><a href="/docs" title="Documentation">Documentation</a></li>
            <li><a href="http://validator.gardr.org" title="Validator">Validator</a></li>
            <li><a href="http://github.com/inma-no" title="Specification">Specification</a></li>
        </ul>
    </div>
</body>
</html>
